# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor specific settings
.vscode/
.idea/
*.swp
*.swo

# The service executable
nightfall_dlp

config/user.json
